h1 {
    font-family: Helvetica;
    font-size: 100px;
    font-weight: bold;
    color: khaki;
    text-align: center;
    position: relative;
    background-image: url(https://content.codecademy.com/courses/freelance-1/unit-2/pattern.jpeg?_gl=1*1qy3jgc*_ga*OTIxMjI0NTIxOS4xNjY0NDE0MDE5*_ga_3LRZM6TM9L*MTY3MzI5OTUyMS43Ny4xLjE2NzMyOTk1NjMuMTguMC4w);
}

.brushes {
    font-family: Helvetica;
    font-size: 32px;
    font-weight: bold;
    color: white;
    background-color: mediumaquamarine;
}

h3 {
    color: black;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}

p {
    color: black;
    text-align: left;
}

p strong {
    font-family: Helvetica;
    font-weight: bold;
    color: blue;
}

.frames {
    font-family: Helvetica;
    font-size: 32px;
    font-weight: bold;
    color: white;
    background-color: lightcoral;
}

.paint {
    font-family: Helvetica;
    font-size: 32px;
    font-weight: bold;
    color: white;
    background-color: skyblue;
}